.advantages{
    background-color: #F6F6F6;
    padding: 10px 0;
}
.advantages .title h2{
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
}
.advantages .cards{
    display: flex;
    flex-wrap: wrap;
}
.advantages .cards .card{
    width: 33.33333%;
    padding: 30px;
}
.advantages .cards .card .cardItems{
    padding: 35px 40px;
    text-align: center;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.16);
    border-radius: 15px;
    background-color: #fff;
    position: relative;
    min-height: 220px;
}
.advantages .cards .card .cardItems .context p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-top: 15px;
}
.advantages .cards .card:nth-child(1) .cardItems .decore{
    width: 100px;
    height: 150px;
    right: 0;
    bottom: 0;
    position: absolute;
}
.advantages .cards .card:nth-child(2) .cardItems .decore{
    width: 250px;
    height: 72px;
    right: 0;
    bottom: 0;
    position: absolute;
}
.advantages .cards .card:nth-child(3) .cardItems .decore{
    width: 184px;
    height: 83px;
    top: 0;
    left: 0;
    position: absolute;
}
.advantages .cards .card:nth-child(4) .cardItems .decore{
    width: 140px;
    height: 123px;
    left: 0;
    bottom: 0;
    position: absolute;
}
.advantages .cards .card:nth-child(5) .cardItems .decore{
    width: 117px;
    height: 107px;
    left: 0;
    top: 0;
    position: absolute;
}
.advantages .cards .card:nth-child(6) .cardItems .decore{
    width: 104px;
    height: 219px;
    right: 0;
    top: 0;
    position: absolute;
}